body {
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    color: white;
    font-weight: bold;
    text-align: center;
}

a {
    text-decoration: none;

}

/* container to keep text position consistent */
.textcontainer {

    max-width: 1400px;
    
    width: 70%;
    margin: 0 auto;

}

/* set position and color for the container h1 */
.textcontainer h1{

    text-align: center;
    gap: 10px; 
    color: gray;

}

/* overwrite the original h2 tag with important */
.textcontainer h2{    
    text-align: left;
    gap: 10px; 
    color: black !important;

}


/* Image at the top */
.topbanner {
    
    width: 100%;
    height: 70vh;
    background-image: url('css_images/welcome.gif') !important;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 52px;
}


.portfoliorotation {
    display: grid;
    gap: 120px;
    padding: 100px;
    max-width: 1400px;
    margin: 0 auto;
}



/* style for the image position */
.portfolioimage {
    position: relative;
    width: auto;
    height: 500px;  
    border: 100px;
    background-size: cover;
    background-position: center;
    background-size: contain; 
    background-repeat: no-repeat;
}

/* make container for additional images */
.extrapicturescontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    margin: auto;
    position: relative;
    
}

/* position the additional pictures size and position */
.extrapictures img{
    width: 1100px;
    height: 500px;
    object-fit: contain;
}

.projectextraimages{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 120px;
    max-width: 1400px;
    margin: 0 auto;
}

/* grid to display portfolio images 2 by 2 */
.portfoliogrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 120px;
    max-width: 1400px;
    margin: 0 auto;
}


/* to add text onto the background image */
.overlay {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* container for the about section */
.aboutcontainer {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    gap: 40px;
    padding: 100px;
}

/* setting the container position and size */
.profileimagecontainer {
    flex: 1;
    max-width: 46%;
    max-height: 600px;
}

/* setting the image size within the container */
.profileimagecontainer img {
    width: 100%;
    height: 100%;   
    object-fit: cover; 
}

/* setting the position and alignment of the about section */
.aboutcontent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    gap: 20px;
}

/* setting the position and size of the title */
.abouttitle {
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    margin: 0;
}
/* set the size and color of the text */
.abouttext {
    font-size: 18px;
    text-align: center;
    line-height: 2;
    margin: 0;
    max-width: 400px;
    
}

/* styling the email button */
.contactbutton {
    background-color: lightgray;
    border: none;
    padding: 8px 24px;
    font-size: 12px;

}

/* changing the cover when its hovered over */
.contactbutton:hover {
    background-color: gray;
}


/* make the bar for the buttons fill the page */
.navbar {
    display: flex;
    width: 100%;
    background-color: grey;
    text-align: center;
}


/* line the buttons up side by side  */
.buttonlink {
    flex: 1;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    background-color: gray;
  }

  /* change the color of every button when hovered */
.buttonlink:hover {
    background-color: lightgray;
  }


/* container for the dropdown list */
.dropdown {
    flex: 1;
    position: relative;
}

/* the dropdown list */
.navbarlist {
    display: none;
    position: absolute;
    width: 100%;
    background-color: grey;
    z-index: 1;
}

/* style the links */
.navbarlist a {
    display: block;
    color: white;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    padding: 10px;
    text-decoration: none;
    background-color: gray;
}

/* change the color when hovered */
.navbarlist a:hover {
    background-color: lightgray;
}

/* show the dropdown list when hovered */
.dropdown:hover .navbarlist {
    display: block;
}

.contactmesection {
    padding: 90px;
    bottom: 0;
    left: 0;
    text-align: center;
    border: 20px;

}

#prev,
#next {
    top: 50%;
    width: 80px;
    transform: translateY(-50%);
    /*^ ensures they are positioned halway down*/
    padding: 5px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: grey;
    border: 0;
    /*^ changes the cursor when hovering over the buttons to show they are interactable*/
}


